<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.mappers.adminCouponMapper">
	<select id="selectCouponInfo" resultType="CouponInfoResponse">
		SELECT 		count(c.coupon_number) issued, 
			   		if(a.available IS NULL, 0, a.available ) available,
               		if(b.unused IS NULL, 0, b.unused ) unused
		FROM 		coupon_logs c
		LEFT JOIN   (SELECT count(coupon_number) available, coupon_logs_seq 
					 FROM 	coupon_logs 
					 WHERE 	expiration_date > now() AND used_date is NULL
					) a
		ON 			c.coupon_logs_seq = a.coupon_logs_seq
		LEFT JOIN   (
						SELECT count(coupon_number) unused, coupon_logs_seq 
						FROM   coupon_logs <![CDATA[
						WHERE  expiration_date < now()
					) b ]]>
		ON 			c.coupon_logs_seq = b.coupon_logs_seq
		WHERE 		c.member_id = #{memberId}
	</select>
	
	<select id="selectCouponList" resultType="CouponListResponse">
		SELECT 		l.coupon_number, 
			   		c.coupon_name, 
		  CASE WHEN cate.count = 1 AND cate.category_key ='ALL' THEN '전체'
		  ELSE      '특정 상품'
		  END       applied_category,
		       		c.discount_amount, 
		       		c.discount_method, 
		       		l.obtained_date, 
		       		l.expiration_date, 
		       		l.used_date
		FROM 		coupon_logs l
		INNER JOIN  coupons c
		ON 			l.coupon_number = c.coupon_number
		INNER JOIN (
				   		SELECT   count(category_key) count, 
								 coupon_number, 
						         category_key 
					    FROM     coupon_categories 
					    GROUP BY coupon_number
				    ) cate
	    ON 			c.coupon_number = cate.coupon_number
		WHERE 		l.member_id = #{memberId}
	</select>
	
	<resultMap id ="Categories" type="CouponAppliedCategory">
        <id property="couponNumber" column="coupon_number" />
        <id property="couponName" column="coupon_name" />
        <collection property="categories" ofType="AppliedCategory">
            <id property="categoryKey" column="category_key"/>
            <id property="categoryName" column="category_name"/>
        </collection>
    </resultMap>
	
	<select id="selectAppliedCategory" resultMap="Categories">
		SELECT 		c.coupon_number, 
					c.coupon_name, 
					cate.category_key, 
					prc.category_name
		FROM 		coupon_categories cate
		INNER JOIN  coupons c
		ON 			cate.coupon_number = c.coupon_number
		INNER JOIN  product_categories prc
		ON 			cate.category_key = prc.category_key
		WHERE 		c.coupon_number = #{couponNumber}
	</select>
</mapper>