<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  	
  
    <mapper namespace="com.project.mappers.loginMapper">
    <resultMap type="com.project.vodto.kjy.Memberkjy" id="memberLoginResultMap">
  		<result property="member_id" column="member_id"/>
  		<result property="remember" column="remember"/>
  	</resultMap>
    	<!-- 로그인 하는 유저의 정보가 DB에 있는지 조회 -->
    	<select id="selectLoginUser" resultMap="memberLoginResultMap">
    		select * from member where member_id = #{username} and password = sha1(md5(#{password}))
    	</select>
  	</mapper>