<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.mappers.memberMapper">
	<select id="getOrderList"
		resultType="com.project.vodto.MyPageOrderList">
	SELECT  o.order_no, o.order_time, o.delivery_status, o.invoice_number, o.member_id,
		max(pay.actual_payment_amount) as actualPaymentAmount, max(prod.product_image) as product_image,  max(prod.product_name) as product_name, count(d.order_no) as totalOrderCnt
		FROM products prod
		inner JOIN  detailed_order_items d
        on prod.product_id = d.product_id
		inner JOIN payments pay
        on pay.order_no = d.order_no
        inner join order_history o
        on d.order_no = o.order_no
		where member_id = #{memberId}  group by order_no
	</select>

	<select id="getProductCount" resultType="int">
		select count(*) from
		detailed_order_items where order_no = #{orderNo}
	</select>
	
	<select id="getMemberInfo" resultType="com.project.vodto.Member">
		select * from member where member_id = #{memberId}
	</select>
	
	<select id="getEmail" resultType="com.project.vodto.Member">
		select * from member where email = #{email}
	</select>
	
	<select id="getPhoneNumber" resultType="com.project.vodto.Member">
		select phone_Number from member where phone_number = #{phoneNumber}
	</select>
	
	<select id="getCellPhoneNumber" resultType="com.project.vodto.Member">
		select cell_phone_number from member where cell_phone_number = #{cellPhoneNumber}
	</select>
	
	<update id="updateAuthentication">
		update member set identity_verification_status = 'Y' where member_id = #{memberId}
	</update>
	
	<update id="updatePwd">
		update member set password=sha1(md5(#{password})) where member_id=#{memberId}
	</update>
	<update id="updatePhoneNumber">
		update member set phone_number=#{phoneNumber} where member_id=#{memberId}
	</update>
	<update id="updatecellPhoneNumber">
		update member set cell_phone_number=#{cellPhoneNumber} where member_id=#{memberId}
	</update>
	<update id="updateAddr">
		update member set zip_code=#{zipCode}, address=#{address}, detailed_address=#{detailedAddress} where member_id=#{memberId}
	</update>
	<update id="updateEmail">
		update member set email=#{email} where member_id=#{memberId}
	</update>
	<update id="updateRefund">
		update member set refund_bank=#{refundBank}, refund_account=#{refundAccount} where member_id=#{memberId}
	</update>
	
	<update id="deleteUser">
		update member set withdraw = 'Y' where member_id = #{memberId}
	</update>
	
	<insert id="addShippingAddress">
		<selectKey resultType="int" keyProperty="addrSeq" order="BEFORE">
	        select max(addr_seq) + 1 from shipping_address       
	    </selectKey> 
		insert into shipping_address(addr_seq, member_id, zip_code, address, detail_address)
 		values(#{addrSeq}, #{memberId}, #{zipCode}, #{address}, #{detailAddress})
	</insert>
	
	<select id="getShippingAddress" resultType="com.project.vodto.ShippingAddress">
		select * from shipping_address where member_id = #{memberId} order by basic_addr desc
	</select>
	
	<update id="updateShippingAddress">
		update shipping_address set zip_code = #{zipCode}, address = #{address}, detail_address = #{detailAddress} 
		where member_id = #{memberId} and addr_seq=#{addrSeq}
	</update>
	<!-- =========================== 김진솔 =========================== -->
	<select id="getId" resultType="com.project.vodto.Member">
		SELECT member_id FROM member WHERE member_id = #{memberId}  
	</select>
	<insert id="insertMember">
		<choose>
			<when test='#{phoneNumber} != null and #{cellPhoneNumber} != null'>
				INSERT INTO member(member_id, password, name, phone_number, cell_phone_number, date_of_birth, email, gender, zip_code, address, detailed_address) 
				VALUES(#{memberId}, sha1(md5(#{password})), #{name}, #{phoneNumber}, #{cellPhoneNumber}, #{dateOfBirth}, #{email}, #{gender}, #{zipCode}, #{address}, #{detailedAddress})
			</when>
			<when test="#{phoneNumber} != null and #{cellPhoheNumber} == null">
				INSERT INTO member(member_id, password, name, phone_number, date_of_birth, email, gender, zip_code, address, detailed_address) 
				VALUES(#{memberId}, sha1(md5(#{password})), #{name}, #{phoneNumber}, #{dateOfBirth}, #{email}, #{gender}, #{zipCode}, #{address}, #{detailedAddress})
			</when>
			<otherwise>
				INSERT INTO member(member_id, password, name, cell_phone_number, date_of_birth, email, gender, zip_code, address, detailed_address) 
				VALUES(#{memberId}, sha1(md5(#{password})), #{name}, #{cellPhoneNumber}, #{dateOfBirth}, #{email}, #{gender}, #{zipCode}, #{address}, #{detailedAddress})
			</otherwise>
		</choose>
	</insert>
	<select id="login" resultType="com.project.vodto.Member">
		SELECT * FROM member WHERE member_id = #{memberId} AND password = sha1(md5(#{password}))
	</select>
	<update id="updateProfile">
		<selectKey keyProperty="ufSeq" resultType="_int" order="BEFORE">
			SELECT upload_files_seq FROM upload_files WHERE new_file_name = #{newFileName}
		</selectKey>
		UPDATE member SET profile_image = #{ufSeq} where member_id = #{memberId}
	</update>
	<!-- =========================== 김진솔 끝 =========================== -->
</mapper>