<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.mappers.memberMapper">
	<select id="getOrderList"
		resultType="com.project.vodto.MyPageOrderList">
	SELECT  o.order_no, o.order_time, o.delivery_status, o.invoice_number, o.member_id,
		max(pay.actual_payment_amount) as actualPaymentAmount, max(prod.product_image) as product_image,  max(prod.product_name) as product_name, count(d.order_no) as totalOrderCnt
		FROM products prod
		inner JOIN  detailed_order_items d
        on prod.product_id = d.product_id
		inner JOIN payments pay
        on pay.order_no = d.order_no
        inner join order_history o
        on d.order_no = o.order_no
		where member_id = #{memberId}  group by order_no
	</select>

	<select id="getProductCount" resultType="int">
		select count(*) from
		detailed_order_items where order_no = #{orderNo}
	</select>
	
	<select id="getMemberInfo" resultType="com.project.vodto.Member">
		select member_id, name, phone_number, gender, date_of_birth, zip_code, address, detailed_address, email, 
		identity_verification_status, profile_image, refund_bank, refund_account, membership_grade from member where member_id = #{memberId}
	</select>
	
	<select id="getEmail" resultType="com.project.vodto.Member">
		select * from member where email = #{email}
	</select>
	<!-- =========================== 김진솔 =========================== -->
	<select id="getId" resultType="com.project.vodto.Member">
		SELECT member_id FROM member WHERE member_id = #{memberId}  
	</select>
	<insert id="insertMember">
		<choose>
			<when test='#{phoneNumber} != null and #{cellPhoneNumber} != null'>
				INSERT INTO member(member_id, password, name, phone_number, cell_phone_number, date_of_birth, email, gender) 
				VALUES(#{memberId}, sha1(md5(#{password})), #{name}, #{phoneNumber}, #{cellPhoneNumber}, #{dateOfBirth}, #{email}, #{gender})
			</when>
			<when test="#{phoneNumber} != null and #{cellPhoheNumber} == null">
				INSERT INTO member(member_id, password, name, phone_number, date_of_birth, email, gender) 
				VALUES(#{memberId}, sha1(md5(#{password})), #{name}, #{phoneNumber}, #{dateOfBirth}, #{email}, #{gender})
			</when>
			<otherwise>
				INSERT INTO member(member_id, password, name, cell_phone_number, date_of_birth, email, gender) 
				VALUES(#{memberId}, sha1(md5(#{password})), #{name}, #{cellPhoneNumber}, #{dateOfBirth}, #{email}, #{gender})
			</otherwise>
		</choose>
	</insert>
	<select id="login" resultType="com.project.vodto.Member">
		SELECT * FROM member WHERE member_id = #{memberId} AND password = sha1(md5(#{password}))
	</select>
	<!-- =========================== 김진솔 끝 =========================== -->
</mapper>