<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.mappers.nonShoppingCartMapper">
	<insert id="insertNonMember">
		INSERT INTO non_shopping_cart VALUES(#{non_member_id}, #{non_member_expiration_period})
	</insert>
</mapper>