<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.mappers.productMapper">
	<select id="getProductInfo" resultType="com.project.vodto.kjs.DisPlayedProductDTO">
		SELECT * FROM products WHERE product_id = #{productId}
	</select>
	<select id="getProductImages" resultType="com.project.vodto.kjs.ProductImage">
		SELECT product_id, product_image FROM product_images WHERE product_id = #{productId}
	</select>
	<select id="getProductCategory" resultType="String">
		SELECT c.name
		FROM categories c
		INNER JOIN category_paths p
		ON c.id = p.ancestor
		WHERE p.descendant = #{categoryKey}
	</select>
</mapper>