<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kym.mappers.reviewUploadMapper">
	<insert id="insertImage">
		INSERT INTO review_uf(post_no, upload_files_seq) VALUES(#{postNo}, #{uploadFilesSeq})
	</insert>
	<delete id="deleteImage">
		DELETE FROM review_uf WHERE upload_files_seq = #{uploadFilesSeq}
	</delete>
</mapper>