<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.mappers.shoppingCartMapper">
	<insert id="insertShoppingCartNon">
		INSERT INTO shopping_cart(non_member_id, product_id, member_check, quantity) VALUES(#{nonMemberId}, #{productId}, 0, #{quantity})
	</insert>
	<insert id="insertShoppingCart">
		INSERT INTO shopping_cart(member_id, product_id, member_check, quantity) VALUES(#{memberId}, #{productId}, 1, #{quantity})
	</insert>
	<select id="selectNonMemberShoppingCart" resultType="com.project.vodto.ShoppingCart">
		SELECT * FROM shopping_cart WHERE non_member_id = #{nonMemberId}
	</select>
	<select id="selectMemberShoppingCart" resultType="com.project.vodto.ShoppingCart">
		SELECT * FROM shopping_cart WHERE member_id = #{memberId}
	</select>
	<delete id="deleteNonMemberCartItem">
		DELETE FROM shopping_cart WHERE non_member_id = #{nonMemberId} AND product_id = #{productId}
	</delete>
	<delete id="deleteMemberCartItem">
		DELETE FROM shopping_cart WHERE member_id = #{memberId} AND product_id = #{productId}
	</delete>
	<select id="getNonMemberShoppingCart" resultType="com.project.vodto.kjs.ShowCartDTO">
		SELECT sc.non_member_id, sc.product_id, prod_img.product_image, p.product_name, p.selling_price, sc.quantity
		FROM products p 
		INNER JOIN shopping_cart sc 
		ON sc.product_id = p.product_id 
		INNER JOIN product_images prod_img 
		ON prod_img.product_id = p.product_id 
		WHERE sc.non_member_id = #{nonMemberId} 
		GROUP BY product_id;
	</select>
	<select id="getMemberShoppingCart" resultType="com.project.vodto.kjs.ShowCartDTO">
		SELECT sc.member_id, sc.product_id, prod_img.product_image, p.product_name, p.selling_price, sc.quantity
		FROM products p 
		INNER JOIN shopping_cart sc 
		ON sc.product_id = p.product_id 
		INNER JOIN product_images prod_img 
		ON prod_img.product_id = p.product_id 
		WHERE sc.member_id = #{memberId} 
		GROUP BY product_id;
	</select>
	<select id="countListNon" resultType="_int">
		SELECT count(*) FROM shopping_cart WHERE non_member_id = #{nonMemberId}
	</select>
	<select id="countList" resultType="_int">
		SELECT count(*) FROM shopping_cart WHERE member_id = #{memberId}
	</select>
	<update id="updateQTY">
		UPDATE shopping_cart SET quantity = #{quantity} WHERE member_id = #{memberId} AND product_id = #{productId}
	</update>
	<update id="updateQTYNon">
		UPDATE shopping_cart SET quantity = #{quantity} WHERE non_member_id = #{nonMemberId} AND product_id = #{productId}
	</update>
	<select id="getCurrentQTY" resultType="Integer">
		SELECT current_quantity FROM products WHERE product_id = #{productId} 
	</select>
	<select id="selectProduct" resultType="com.project.vodto.kjs.DisPlayedProductDTO">
		<choose>
			<when test="loginCheck">
				SELECT p.*, prod_img.product_image product_image, s.quantity
				FROM products p
				LEFT OUTER JOIN product_images prod_img
				ON p.product_id = prod_img.product_id
				INNER JOIN shopping_cart s
				ON p.product_id = s.product_id
				WHERE p.product_id = #{productId}
				AND s.member_id = #{memberId}
				ORDER BY prod_img.product_images_seq LIMIT 1;
			</when>
			<otherwise>
				SELECT p.*, prod_img.product_image product_image, s.quantity
				FROM products p
				LEFT OUTER JOIN product_images prod_img
				ON p.product_id = prod_img.product_id
				INNER JOIN shopping_cart s
				ON p.product_id = s.product_id
				WHERE p.product_id = #{productId}
				AND s.non_member_id = #{memberId}
				ORDER BY prod_img.product_images_seq LIMIT 1;
			</otherwise>
		</choose>
	</select>
</mapper>