<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.mappers.adminMemberMapper">
	<select id="findByInfo" resultType="com.project.vodto.kkb.SearchMemberRequest">
		SELECT * FROM member 
		<where>
			 <if test='memberId != null and !memberId.equals("")'>
	            AND member_id = #{memberId}
	         </if>
	         <if test='name != null and !name.equals("")'>
	            AND name LIKE CONCAT('%',#{name},'%')
	         </if>
	         <if test='email != null and !email.equals("")'>
	            AND email = #{email}
	         </if>
	         <if test='phoneNumber != null and !phoneNumber.equals("")'>
	            AND replace(phone_number,'-','') = #{phoneNumber}
	         </if>
	         <if test='cellPhoneNumber != null and !cellPhoneNumber.equals("")'>
	            AND replace(cell_phone_number,'-','') = #{cellPhoneNumber}
	         </if>
	         <if test='address != null and !address.equals("")'>
	            AND address LIKE CONCAT('%',#{address},'%') OR detailed_address LIKE CONCAT('%',#{address},'%')
	         </if>
	         <if test='gender != null and !gender.equals("")'>
	            AND gender = #{gender}
	         </if>
	         <if test='membershipGrade != null and !membershipGrade.equals("")'>
	            AND membership_grade = #{membershipGrade}
	         </if>	 
	         
	         <!-- 나이 -->
	         <choose>
	         	<when test='(ageStart != null and !ageStart.equals("")) and (ageEnd != null and !ageEnd.equals(""))'>
	         		AND (SELECT TRUNCATE((TO_DAYS(NOW()) - TO_DAYS(date_of_birth)) / 365, 0)) BETWEEN #{ageStart} AND #{ageEnd}
	         	</when>
	         	<when test='(ageStart == null or ageStart.equals("")) and (ageEnd != null and !ageEnd.equals(""))'>
	         		AND (SELECT TRUNCATE((TO_DAYS(NOW()) - TO_DAYS(date_of_birth)) / 365, 0)) BETWEEN 0 AND #{ageEnd}
	         	</when>
	         	<when test='(ageStart != null and !ageStart.equals("")) and (ageEnd == null or ageEnd.equals(""))'>
	         		AND (SELECT TRUNCATE((TO_DAYS(NOW()) - TO_DAYS(date_of_birth)) / 365, 0)) BETWEEN #{ageStart} AND 99
	         	</when>
	         </choose>
	         
	         <!-- 가입일 -->
	         <choose>
	         	<when test='(registrationDateStart != null and !registrationDateStart.equals("")) and (registrationDateEnd != null and !registrationDateEnd.equals(""))'>
	         		AND registration_date BETWEEN #{registrationDateStart} AND #{registrationDateEnd}
	         	</when>
	         	<when test='(registrationDateStart == null or registrationDateStart.equals("")) and (registrationDateEnd != null and !registrationDateEnd.equals(""))'>
				    <![CDATA[
				    AND registration_date <= #{registrationDateEnd}
				    ]]>
				</when>
	         	<when test='(registrationDateStart != null and !registrationDateStart.equals("")) and (registrationDateEnd == null or registrationDateEnd.equals(""))'>
	         		AND registration_date >= #{registrationDateStart} 
	         	</when> 
	         </choose>
	         
	     </where>
	</select>
</mapper>