<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true" />
		<!-- <setting name="logImpl" value="SLF4J" /> -->
	</settings>

	<typeAliases>
		<typeAlias type="com.project.vodto.kkb.MemberResponse" alias="MemberResponse" />
		<typeAlias type="com.project.vodto.kkb.MemberBasicInfo" alias="MemberBasicInfo" />
		<typeAlias type="com.project.vodto.kkb.MemberRecentOrder" alias="MemberRecentOrder" />
		<typeAlias type="com.project.vodto.kkb.MemberRecentPost" alias="MemberRecentPost" />
		<typeAlias type="com.project.vodto.kkb.MemberParam" alias="MemberParam" />
		<typeAlias type="com.project.vodto.kkb.MemberRecentInquiry" alias="MemberRecentInquiry" />
		<typeAlias type="com.project.vodto.kkb.OrderNoResponse" alias="OrderNoResponse" />
		<typeAlias type="com.project.vodto.kkb.OrderProductResponse" alias="OrderProductResponse" />
		<typeAlias type="com.project.vodto.kkb.PostResponse" alias="PostResponse" />
		<typeAlias type="com.project.vodto.kkb.InquiryResponse" alias="InquiryResponse" />
		<typeAlias type="com.project.vodto.kkb.CouponInfoResponse" alias="CouponInfoResponse" />
		<typeAlias type="com.project.vodto.kkb.CouponListResponse" alias="CouponListResponse" />
		<typeAlias type="com.project.vodto.kkb.PointInfoResponse" alias="PointInfoResponse" />
		<typeAlias type="com.project.vodto.kkb.RewardInfoResponse" alias="RewardInfoResponse" />
		<typeAlias type="com.project.vodto.kkb.PointListResponse" alias="PointListResponse" />
		<typeAlias type="com.project.vodto.kkb.RewardListResponse" alias="RewardListResponse" />
		<typeAlias type="com.project.vodto.kkb.ShoppingCartResponse" alias="ShoppingCartResponse" />
		<typeAlias type="com.project.vodto.kkb.AppliedCategory" alias="AppliedCategory" />
		<typeAlias type="com.project.vodto.kkb.CouponAppliedCategory" alias="CouponAppliedCategory" />
		<typeAlias type="com.project.vodto.kkb.MemoListResponse" alias="MemoListResponse" />
		<typeAlias type="com.project.vodto.kkb.CartResponse" alias="CartResponse" />
		<typeAlias type="com.project.vodto.kkb.DepositNoResponse" alias="DepositNoResponse" />
		<typeAlias type="com.project.vodto.kkb.DepositProductResponse" alias="DepositProductResponse" />
		<typeAlias type="com.project.vodto.kkb.DepositCancelInfoResponse" alias="DepositCancelInfoResponse" />
		<typeAlias type="com.project.vodto.kkb.ReadyNoResponse" alias="ReadyNoResponse" />
		<typeAlias type="com.project.vodto.kkb.ReadyProductResponse" alias="ReadyProductResponse" />
		<typeAlias type="com.project.vodto.Product" alias="product" />
		<typeAlias type="com.project.vodto.Board" alias="Board" />
	</typeAliases>

</configuration>

