<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true" />
	</settings>

	<typeAliases>
		<typeAlias type="com.project.vodto.kkb.MemberCondition" alias="MemberCondition" />
		<typeAlias type="com.project.vodto.kkb.MemberResponse" alias="MemberResponse" />
		<typeAlias type="com.project.vodto.kkb.MemberBasicInfo" alias="MemberBasicInfo" />
		<typeAlias type="com.project.vodto.kkb.MemberRecentOrder" alias="MemberRecentOrder" />
		<typeAlias type="com.project.vodto.kkb.MemberRecentPost" alias="MemberRecentPost" />
		<typeAlias type="com.project.vodto.kkb.MemberRecentInquiry" alias="MemberRecentInquiry" />
		<typeAlias type="com.project.vodto.kkb.MemberParam" alias="MemberParam" />
		<typeAlias type="com.project.vodto.kkb.OrderNoResponse" alias="OrderNoResponse" />
		<typeAlias type="com.project.vodto.kkb.OrderProductResponse" alias="OrderProductResponse" />
		<typeAlias type="com.project.vodto.Product" alias="product" />
		<typeAlias type="com.project.vodto.Board" alias="Board" />
	</typeAliases>

</configuration>

